

.menu__open {
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    z-index: 5;
  }
  @media (min-width: 768px) {
    .menu__open {
       display: none;
       }
    }
  @media screen and (min-width: 480px){
  .menu__container {
      padding-left: 40px;
      display: non;
  }}
.menu__container {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-left: 3px;
    z-index: 55;
    transform: translateX(400%);
    transition: transform 250ms ease-in-out;}
.is-hidden{
    transform: translateX(0); 
    
}
.menu__close {
        position: absolute;
        border: none;
        background-color: transparent;
        right: 20px;
        top: 10px;
        cursor: pointer;
        fill: currentColor;
    }

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile__menu__item {
    margin-bottom: 32px;
}
.mobile__menu__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    &--active {
        position: relative;
        color: #2196f3;
    }
}
@media screen and (min-width: 480px){
.mobile__media__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
}}
.mobile__media {
    display: flex;
    margin-bottom: 48px;
}
.mobile__contacts__item {
    margin-bottom: 32px;
}
.mobile__contacts__tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
}
.mobile__contacts__mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
}
.mobile__media__item {
    margin-top: 64px;
    @media screen and (min-width: 480px){
    &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
}}
    &:not(:last-child) {
        border-right: 1px solid #757575;
        padding-right: 3px;
        margin-right: 3px;}
}
.mobile__media__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #2196f3;
}
.menu__container{ 
    &:hover,  
    &:focus {
    color: #2196f3;}
    & .menu__close:hover,
    & .menu__close:focus{
        color: #2196f3;
    }

}